.Chair {
  &:hover {
    cursor: pointer;
    background-color: #000 !important;
    color: #fff;
    transition: all 0.3s ease-in-out;
  }

  &.booking {
    background-color: red !important;
    color: #fff;
    border: transparent;
  }

  &.booked {
    background-color: #767676 !important;
    color: #767676;
    border: transparent;
    pointer-events: none;
    cursor: not-allowed;
    position: relative;
    &::before {
      content: "x";
      position: absolute;
      width: 100%;
      height: 100%;
      font-size: 20px;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 300;
      color: #000;
    }
  }
  &.vip {
    background-color: var(--primary-color);
    border: transparent;
  }
}
