:root {
  --header-height: 70px;
  --max-width: 1536px;
  --primary-color: #f9ab00;
  --secondary-color: #000;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.custom-modal .ant-modal-content {
  background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    max-width: 940px;
    margin: 0 auto;
}
.custom-modal .ant-modal-content .ant-modal-close {
  top: -10px !important;
  color: #fff;
}
.custom-modal .ant-modal-content .ant-modal-close-x {
  font-size: 22px;
}